body{
    font-family: 'Open Sans', sans-serif;

}
.banner-container {
    background-color: #cacaca;
}
.banner-column {
    background-color: #8D8D8D;
}
.navbar-container {
    top: 0;
    background-color: #262b37;
    position: sticky;
    z-index: 2;
}
.about-container {
    background-color: #00bdbd;
}
.education-container{
    background-color: #EEEEEE;
}
.bg-redtype {
    background-color: #f8857f;
}

.bg-redtype:hover {
    color: black!important;
}

.redtype-color {
    color: #f8857f;
}
.circle-edu{
    background-color: #f8857f;
    width: 150px;
    height: 150px;
    border-radius:50%;
}
.project-container{
    background-color: #2bb3dd;
}
.form-container{
    background-color: #474D5D;
}
.inner-form{
    background-color: #585F73;
}

.footer{
    background-color: #2BB3DD;
}

.circle{
    width: 60px;
    height: 60px;
    border-radius:50%;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center;
    color: #2bb3dd;
}
.circle:hover{
    background-color: #474D5D;
}